@font-face {
  font-family: "Kalameh-bold";
  src: url("./assets/Kalameh_Bold.woff2");
}
@font-face {
  font-family: "Kalameh-regular";
  src: url("./assets/Kalameh_Regular.woff2");
}
@font-face {
  font-family: "Dana-bold";
  src: url("./assets/dana-bold.woff2");
}
@font-face {
  font-family: "Dana-regular";
  src: url("./assets/dana-regular.woff2");
}
@font-face {
  font-family: "Kalameh-black";
  src: url("./assets/Kalameh_Black.woff2");
}
h1,
h2 {
  font-family: "Kalameh-bold";
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;

  list-style: none;
}
